/*------------ Fonts ------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');

/*------------
# Reset
--------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*------------
# Root
--------------*/



/*------------
# General Configs
--------------*/
html {
    scroll-behavior: smooth;
}
.section{
    height: 100vh;
    width: 100%;
    background-color: red;
}
section[id]{
    scroll-margin-top: 3.4rem;
}
a{
    list-style: none;
    text-decoration: none;
}
.full-width{
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.ShowBox{
	opacity: 1 !important;
	pointer-events: auto !important;
}
.formated-section{
	padding: 60px 0;
}
.h2-title{
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
}

/*--------------------------------------------------------------------------------------
                                    # TopBar
----------------------------------------------------------------------------------------*/
#topbar{
    background-color: #444444;
    height: 30px;
    font-size: 13px;
    transition: all 0.5s;
    z-index: 996;
}
#topbar .topbar-scrolled{
    top: -20px;
}
#topbar .contact-info{
    display: flex;
}
#topbar .contact-info i{
    font-family: 'Poppins';
    color: rgb(177, 177, 177);
    /* padding-right: 20px; */
    margin-left: -60px;
    line-height: 0;
    margin-top: 1.2%;
}

/*------------
# Reloj Digital
--------------*/
#clock-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -9%;
    /* margin-left: -20%; */
    width: 200px;
}
#clock {
    font-family: 'lato';
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.status {
    font-family: 'Poppins';
    font-style: italic;
    margin-left: 10px;
    margin-top: .3%;
}
#status-open {
    color: green;
}
#status-closed {
    color: red;
}

/*--------------------------------------------------------------------------------------
                                    # Header
----------------------------------------------------------------------------------------*/
header{
    height: 100vh;
    width: 100%;
    background-color: white;
}
.btn-wsp{
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    bottom: 20px;
    right: 20px;
    background: #0df053;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}
.btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: white;
}

/*--------------------------------------------------------------------------------------
                                    # NavBar
----------------------------------------------------------------------------------------*/
.navbar{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    background: linear-gradient(114deg, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 50%, rgba(255,255,255,1) 100%);
    
    /* propiedades originales */
    border-radius: 100px;
    height: 3.4rem;
    transition: all 0.5s;
    z-index: 997;
    padding: 5px 0;
    top: 50px;
}
.navbar a{
    color: rgb(0, 0, 0);
}
.navbar .logo{
    width: 8.8rem;
    height: 2.5rem;
    margin-right: 80px;
    margin-top: -1.8%;
}
.navbar .carro-de-compras{
    margin-top: -0.5%;
    margin-right: -1%;
    /* background: #dfdfdf;
    color: white; */
    width: 3.1rem;
    height: 2.8rem;
    text-align: center;
    border-radius: 50px;
}
.navbar .carro-de-compras .carro{
    margin-top: 6px;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 30px;
    color: white;
}
.navbar .carro-de-compras:hover{
    background: rgb(196, 196, 196);
    text-align: center;
    border-radius: 50px;
    width: 3.1rem;
    height: 2.8rem;
}

.navbar .nav-links ul{
    display: flex;
}
.navbar .nav-links ul li{
    /* margin: 1.5% 20px 0px 20px; */
    margin-top: 1.7%;
    margin-left: 0px;
    margin-right: 15px;
    gap: 1.5rem;
}
.active{
    background : #be0f0f;
    border-radius: 50px;
    padding: 10px;
}
.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 63px;
    right: 50px;
    width: 25px;
}

/*--------------------------------------------------------------------------------------
                                    # Seccion Carousel Header
----------------------------------------------------------------------------------------*/
#home {
    width: 100%;
    height: 110vh;
    background: linear-gradient(rgba(5, 7, 12, 0.521),rgba(5, 7, 12, 0.521)),
    url("../img/steel\ framing\ obra.jpeg") top center;
    background-size: cover;
    background-position: center;
    margin-bottom: -200px;
}
#home .container {
    position: relative;
}
#home h1 {
    margin: 0;
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: white;
}
#home h2 {
    color: white;
    margin: 10px 0 0 0;
    font-size: 24px;
}
#home .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #000000;
    background: #dfdfdf;
}
#home .btn-get-started:hover {
    background: #be0f0f;
}
@media (min-width: 1024px) {
    #home {
    background-attachment: fixed;
    }
}
@media (max-width: 992px) {
    #home {
    margin-bottom: 0;
    height: 100vh;
    }
    #home .container {
    padding-bottom: 63px;
    }
    #home h1 {
    font-size: 28px;
    line-height: 36px;
    }
    #home h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    }
}
@media (max-width: 600px) {
    #home {
    height: 110vh;
    }
}

/*--------------------------------------------------------------------------------------
                                    # Seccion 1 - Construimos Futuro
----------------------------------------------------------------------------------------*/
.section-1{
    font-family: 'Poppins';
    background: rgb(255, 255, 255);
    height: 50vh;
    padding: 1vh 0;
}
.home-intro{
    /* padding: 5vh 0; */
    color: rgb(0, 0, 0);
    text-align: center;
}
.home-about{
    padding: 4em 0;
    max-width: 900px;
    margin: 0 auto;
}
.columns{
    display: flex;
}
.col + .col {
    margin-left: 1.5em;
}
.fade-in{
    opacity: 0;
    transition: opacity 300ms ease-in;
}
.fade-in.appear {
    opacity: 1;
}
.more-stuff-grid{
    background: #f4f4f4;
    padding: 4em 0;
    display: grid;
    grid-gap: 2em;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(
        1em,
        1fr
    );
}
.from-left{
    grid-column: 2 / 3;
    transform: translateX(-50%);
}
.from-right{
    grid-column: 3 / 4;
    transform: translateX(50%);
}
.from-left, .from-right {
    transition: transform 400ms ease-in;
}
.from-left.appear, .from-right.appear {
    transform: translateX(0);
}




/* Carousel section 4 */
.slider{
    width: 1300px;
    max-width: 100vw;
    height: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;

}
.slider .list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: 990;
}
.slider .buttons{
    position: absolute;
    top: 46.5%;
    left: 1%;
    width: 98%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: -1px;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 5px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    #topbar{
        display: none;
    }
    .clock-container{
        display: none;
    }
    .section-1{
        background: rgb(247, 247, 247);
        height: 48vh;
        border: 10px;
    }
    .home-about{
        margin-top: 1%;
        padding: 1vh 0;
    }
    .section-1 .home-about .columns h2{
        font-family: 'Poppins';
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section-1 .home-about .columns p{
        font-family: 'Poppins';
        font-weight: 300;
        color: #4b4b4b;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slider{
        height: 400px;
    }
    
}

@media screen and (max-width: 900px) {
    
    .navbar{
        padding: 0;
        background: none;
        top: 0;
    }
    .navbar .logo{
        width: 8.8rem;
        height: 2.5rem;
        position: absolute;
        top: 50px;
        left: 50px;
    }
    .navbar .menu-hamburger{
        display: block;
    }
    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }
    #clock-container {
        display: none;
    }
}


/*--------------------------------------------------------------------------------------
                                    # Formulario
----------------------------------------------------------------------------------------*/
.section-form{
    position: relative;
    width: 100%;
    height: 130vh;
    display: grid;
    place-items: center;
    background: #1766a3;
    background: linear-gradient(to top right, #1867a3, #0c426c);
}
#dreyja-email{
    opacity: 0;
}
.section-form .contactForm{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 40px;
    width: 90%;
    height: 90%;
    background: #9cdafa;
    box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}
.section-form .contactForm .form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    margin-left: 30px;
}
.section-form .contactForm .form form{
    width: 100%;
}
/* Título y descripcion */
.section-form .contactForm .form .texto h2{
    font-family: 'Poppins';
    color: #1766a3;
    font-size: 2em;
    margin-bottom: 10px;
}
.section-form .contactForm .form .texto p{
    font-family: 'Poppins';    
    color: #0b426c;
    font-size: 1.5em;
    margin-bottom: 20px;
}
/* Cajas de texto */
.section-form .contactForm .form form .inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
/* Etiquetas e inputs */
.section-form .contactForm .form form .inputBox label{
    color: #1766a3;
    font-weight: 700;
}
.section-form .contactForm .form form .inputBox input[type="text"],
.section-form .contactForm .form form .inputBox input[type="email"],
.section-form .contactForm .form form .inputBox textarea{
    border: none;
    background: #cbebfb;
    padding: 10px;
    border-radius: 10px;
    color: #1766a3;
    resize: none;
}
.section-form .contactForm .form form .inputBox input[type="text"]:focus,
.section-form .contactForm .form form .inputBox input[type="email"]:focus,
.section-form .contactForm .form form .inputBox textarea:focus {
    outline: 2px solid #1766a3;
}
.section-form .contactForm .form form input[type="submit"] {
    background: #1766a3;
    display: inline-block;
    text-align: center;
    width: 250px;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
    transition: 0.3s;
}
.section-form .contactForm .form form input[type="submit"]:hover{
    background: #0b426c;
}
/* Contenedor Información */
.section-form .contactForm .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Imagen */
.section-form .contactForm .info .imgBox {
    position: relative;
    width: 350px;
    height: 350px;
}
.section-form .contactForm .info .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Información de Contacto */
.section-form .contactForm .info .textBox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.section-form .contactForm .info .textBox .infoContact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}
.section-form .contactForm .info .textBox .infoContact ion-icon{
    font-size: 2em;
    margin-right: 10px;
    color: #0b426c;
}
.section-form .contactForm .info .textBox .infoContact p {
    color: #0b426c;
}
/* Redes Sociales */
.section-form .contactForm .info .rrss a{
    padding: 20px;
    font-size: 2em;
    color: #1766a3;
    transition: 0.3s;
}
.section-form .contactForm .info .rrss a:hover {
    color: #0b426c;
}
/* Breakpoints */
/* Pantallas Largas */
@media only screen and (max-width: 1200px) {
    .section-form .contactForm {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

/* Laptops y Tablets */
@media only screen and (max-width: 768px){
    .section-form{
        height: 155vh;
        background: #1766a3;
        background: linear-gradient(to top right, #1867a3, #0c426c);
    }
    .section-form .contactForm {
        margin-left: -20px;
    }
    .section-form .contactForm .info{
        height: 300px;
        padding: 30px;
    }
    .section-form .contactForm .info .imgBox {
        display: none;
    }
    .contact-info{
        display: none;
    }
    .carro-de-compras{
        display: none;
    }
}

/* Celular */
@media only screen and (max-width: 600px) {
    .section-form {
        height: 165vh;
    }
    .section-form .contactForm {
        margin-left: -20px;
    }
    .section-form .contactForm .form {
        margin-left: 0px;
        width: 100%;
    }
    .section-form .contactForm .info{
        margin-bottom: 30px;
    }
    .carro-de-compras{
        display: none;
    }
    .contact-info{
        display: none;
    }
}


/*--------------------------------------------------------------------------------------
                                    # Footer
----------------------------------------------------------------------------------------*/
.img-logo-footer{
    width: 10rem;
    height: 3rem;
    margin-left: 10%;
}
#footer {
    background: #eeeeee;
    padding: 0 0 30px 0;
    color: #555555;
    font-size: 14px;
}

#footer .footer-top {
    background: #f6f6f6;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1977cc;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #65c9cd;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #3fbbc0;
    font-size: 18px;
    line-height: 1;
}
#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}
#footer .footer-top .footer-links ul a {
    color: #555555;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
    color: #3fbbc0;
}
#footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
}
#footer .footer-top .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
}
#footer .footer-top .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #1977cc;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
}
#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
    background: #65c9cd;
}
#footer .copyright {
    text-align: center;
    padding-top: 30px;
}
#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
}






